html, body {
  height: 100%;
  margin: 0;
}

main {
  background-color: #f7f8fc;
  height: 100%;
  padding: 20px;
  overflow-y: auto;  
}

.container-fluid, .row {
  height: 100%;
}

nav {
  padding-top: 20px;
  height: 100%;
}

/* Sidebar link styling */
.nav-link {
  display: flex;
  align-items: center;  
  padding: 0.5rem 1rem;
  color: #ffffff;  
  text-decoration: none;  
  i {
    margin-right: 25px;  
  }
}

/* nav hover */
.nav-item {
  margin-bottom: 0.5rem;  
  &:nth-last-child(2) {
    margin-top: 20px;  
    padding-top: 10px;
    border-top: 0.2px solid rgba(255, 255, 255, 0.464); 
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.039); 
    .nav-link {
      opacity: 0.8;
    }
    i.fa {
      opacity: 1;
    }
  }
}

.nav-link i {
  opacity: 0.4;  
}

/* top card hover */
.hover-card {
  background-color: white;  
  border: 1px solid #ddd;  
  &:hover {
    border-color: #3752ff;  
    color: #3752ff;  
    transition: all 0.3s ease;  
    .card-subtitle {
      color: #3752ff !important;  
    }
    .card-title {
      color: #3752ff !important;  
    }
  }
  .card-subtitle {
    font-size: 1rem;  
    margin-bottom: 10px;  
    color: #a0a0a0;  
    transition: color 0.3s ease;  
  }
}

 
.lighter-text {
  opacity: 0.4;  
}

.nav-item i {
  opacity: 0.4;
}

 
.unresolved-tickets-card {
  padding: 20px;  
}

 
.unresolved-item {
  padding: 15px 20px;  
}

 
.unresolved-section {
  padding: 30px 0;  
}

 
.number {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;  
  margin-top: 2px;  
}

 
.list-group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  margin-bottom: 20px;  
}

.card-subtitle {
  margin-top: 10px;  
  margin-bottom: 10px;
  font-weight: 300;
}

header {
  padding: 5px 0 20px;
}


.today-trends-section {
  background-color: #fff;  
}


.today-trends-card {
  background-color: #fff;  
}


.card.tasks-card {
  padding: 18px;  
}


.card.tasks-card .list-group-item {
  padding: 12px 17px;  
}


.card.tasks-card .card-header {
  padding: 16px 20px;  
  margin-bottom: 17px;  
}


.card.tasks-card .card-header small {
  margin-top: 10px;  
}

.profile-img {
  margin-left: 10px;
  border: white;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
